go 1.22.1

use (
	./badger
	./badger/caddy
	./core
	./etcd
	./etcd/caddy
	./go-redis
	./go-redis/caddy
	./nats
	./nats/caddy
	./nuts
	./nuts/caddy
	./olric
	./olric/caddy
	./otter
	./otter/caddy
	./redis
	./redis/caddy
	./simplefs
	./simplefs/caddy
)
