{
    debug
    cache {
        nats
    }
}

http://localhost {
    route /hello {
        cache
    }

    route /any {
        cache {
            nats {
                url nats://127.0.0.1:4222
            }
        }
    }
}
