{
    debug
    cache {
        nuts
    }
}

http://localhost {
    route /hello {
        cache
    }

    route /any {
        cache {
            nuts {
                path /tmp/something
            }
        }
    }
}