{
    debug
    cache {
        etcd
    }
}

http://localhost {
    route /hello {
        cache
    }

    route /any {
        cache {
            etcd {
                url http://etcd:2379
            }
        }
    }
}
