{
    debug
    cache {
        otter
    }
}

http://localhost {
    route /hello {
        cache
    }

    route /any {
        cache {
            otter {
                size 100000
            }
        }
    }
}
