{
    debug
    cache {
        simplefs
    }
}

http://localhost {
    route /hello {
        cache
    }

    route /any {
        cache {
            simplefs {
                size 100000
            }
        }
    }
}
